{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load extras %}
{% block content %}

<h1>Órdenes de compra</h1>
{% if user.is_authenticated %}
{% if request.user|has_group:"Administradores" %}
<div class="row">
  <div class="col-sm-8">
    <a href="{% url "oc_create" %}">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i> Nueva orden de compra</button>
    </a>
    <a href="{% url "manual_ayuda" %}#manual-6">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-question-circle"></i> ¿Qué es esto?</button>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero orden</th>
          <th scope="col">Nombre orden</th>
          <th scope="col">Fecha</th>
          <th scope="col">Fecha entrega</th>
          <th scope="col">Estado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for oc in object_list %}
        <tr>
          <th scope="col">{{ oc.numero_orden }}</th>
          <td>{{ oc.nombre_orden }}</td>
          <td>{{ oc.fecha }}</td>
          <td>{{ oc.fecha_entrega }}</td>
          <td>{{ oc.get_estado_display }}</td>
          <td>{{ oc.rut_cliente }}</td>
          <td>
            <a href="{% url "oc_update"  oc.numero_orden  %}" data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-alt fa-lg"></i></a>
            <a href="{% url "oc_delete"  oc.numero_orden  %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-alt fa-lg"></i></a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
{% if request.user|has_group:"Clientes" %}

<div class="row">
  <div class="col-sm-8">

    <a href="{% url "manual_ayuda" %}#manual-6">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-question-circle"></i> ¿Qué es esto?</button>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero orden</th>
          <th scope="col">Nombre orden</th>
          <th scope="col">Fecha</th>
          <th scope="col">Fecha entrega</th>
          <th scope="col">Estado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for oc in object_list %}
        {% if request.user == oc.rut_cliente.id_usuario%}
        {% if oc.estado == 'A' %}
        <tr>
          <th scope="col">{{ oc.numero_orden }}</th>
          <td>{{ oc.nombre_orden }}</td>
          <td>{{ oc.fecha }}</td>
          <td>{{ oc.fecha_entrega }}</td>
          <td>{{ oc.get_estado_display }}</td>
          <td>{{ oc.rut_cliente }}</td>
          <td>
            <a href="{% url "oc_cancel"  oc.numero_orden  %}" data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-alt fa-lg"></i></a>
            <!--<a href="{% url "oc_delete"  oc.numero_orden  %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-alt fa-lg"></i></a>-->
          </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
{% if request.user|has_group:"Empleados" %}
Permiso denegado
{% endif %}
{% if request.user|has_group:"Proveedores" %}
Permiso denegado
{% endif %}
{% endif %}

{% endblock %}
