{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Manual de ayuda</h1>
<h2>Contenidos</h2>
<div class="row">
  <div class="dropdown-menu position-relative d-block ml-3">

    <div class="list-group list-group-root well">

      <a href="#item-1" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>1. Sesión
      </a>
      <div class="list-group collapse" id="item-1">

        <a href="#manual-1-1" class="list-group-item">
          1.1. Iniciar sesión
        </a>

        <a href="#manual-1-2" class="list-group-item">
          1.2. Cerrar sesión
        </a>
      </div>

      <a href="#item-2" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>2. Módulo Usuarios
      </a>
      <div class="list-group collapse" id="item-2">

        <a href="#manual-2-1" class="list-group-item">
          2.1. Crear usuario
        </a>

        <a href="#manual-2-2" class="list-group-item">
          2.2. Modificar usuario
        </a>

        <a href="#manual-2-3" class="list-group-item">
          2.3. Listar usuarios
        </a>

        <a href="#manual-2-4" class="list-group-item">
          2.4. Eliminar usuario
        </a>

      </div>

      <a href="#item-3" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>3. Módulo Clientes
      </a>
      <div class="list-group collapse" id="item-3">

        <a href="#manual-3-1" class="list-group-item">
          3.1. Crear cliente
        </a>

        <a href="#manual-3-2" class="list-group-item">
          3.2. Modificar cliente
        </a>

        <a href="#manual-3-3" class="list-group-item">
          3.3. Listar clientes
        </a>

        <a href="#manual-3-4" class="list-group-item">
          3.4. Eliminar cliente
        </a>

      </div>

      <a href="#item-4" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>4. Módulo Proveedores
      </a>
      <div class="list-group collapse" id="item-4">

        <a href="#manual-4-1" class="list-group-item">
          4.1. Crear proveedor
        </a>

        <a href="#manual-4-2" class="list-group-item">
          4.2. Modificar proveedor
        </a>

        <a href="#manual-4-3" class="list-group-item">
          4.3. Listar proveedores
        </a>

        <a href="#manual-4-4" class="list-group-item">
          4.4. Eliminar proveedor
        </a>

      </div>

      <a href="#item-5" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>5. Módulo Comedor
      </a>
      <div class="list-group collapse" id="item-5">

        <a href="#manual-5-1" class="list-group-item">
          5.1. Crear comedor
        </a>

        <a href="#manual-5-2" class="list-group-item">
          5.2. Modificar comedor
        </a>

        <a href="#manual-5-3" class="list-group-item">
          5.3. Listar comedores
        </a>

        <a href="#manual-5-4" class="list-group-item">
          5.4. Eliminar comedor
        </a>

      </div>

      <a href="#item-6" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>6. Módulo Orden de compra
      </a>
      <div class="list-group collapse" id="item-6">

        <a href="#manual-6-1" class="list-group-item">
          6.1. Crear orden de compra
        </a>

        <a href="#manual-6-2" class="list-group-item">
          6.2. Modificar orden de compra
        </a>

        <a href="#manual-6-3" class="list-group-item">
          6.3. Listar órdenes de compra
        </a>

        <a href="#manual-6-4" class="list-group-item">
          6.4. Eliminar orden de compra
        </a>

      </div>

      <a href="#item-7" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>7. Módulo Empleado
      </a>
      <div class="list-group collapse" id="item-7">

        <a href="#manual-7-1" class="list-group-item">
          7.1. Crear empleado
        </a>

        <a href="#manual-7-2" class="list-group-item">
          7.2. Modificar empleado
        </a>

        <a href="#manual-7-3" class="list-group-item">
          7.3. Listar empleados
        </a>

        <a href="#manual-7-4" class="list-group-item">
          7.4. Eliminar empleado
        </a>

      </div>

      <a href="#item-8" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>8. Módulo Órdenes de pedido
      </a>
      <div class="list-group collapse" id="item-8">

        <a href="#manual-8-1" class="list-group-item">
          8.1. Crear orden de pedido
        </a>

        <a href="#manual-8-2" class="list-group-item">
          8.2. Modificar orden de pedido
        </a>

        <a href="#manual-8-3" class="list-group-item">
          8.3. Listar órdenes de pedido
        </a>

        <a href="#manual-8-4" class="list-group-item">
          8.4. Eliminar orden de pedido
        </a>

      </div>

      <a href="#item-9" class="list-group-item" data-toggle="collapse">
        <i class="dpdown fa fa-angle-right"></i>9. Módulo Productos
      </a>
      <div class="list-group collapse" id="item-9">

        <a href="#manual-9-1" class="list-group-item">
          9.1. Crear producto
        </a>

        <a href="#manual-9-2" class="list-group-item">
          9.2. Modificar producto
        </a>

        <a href="#manual-9-3" class="list-group-item">
          9.3. Listar productos
        </a>

        <a href="#manual-9-4" class="list-group-item">
          9.4. Eliminar producto
        </a>

      </div>

    </div>

  </div>
</div>

<div class="container mt-3">
  <h2>1. Sesión</h2>
  <h3 id="manual-1-1">1.1. Iniciar sesión</h3>
  Iniciar sesión permite acceder al sistema para así realizar las funcionalidades ofrecidas por el hostal Doña Clarita. Es necesario poseer una cuenta de usuario para iniciar sesión.
  <ol>
    <li>Haga clic en el botón Iniciar sesión, ubicado en el lado derecho de la barra de navegación superior.</li>
    <li>Ingrese los datos de su cuenta.</li>
  </ol>
  <h3 id="manual-1-2">1.2. Cerrar sesión</h3>
  Cerrar sesión le permite salir de su cuenta de usuario del sistema Hostal Doña Clarita. Es vital cerrar sesión siempre si está usando el servicio en un dispositivo público como un cyber o un smartphone ajeno y no requiere hacer más uso del servicio por el momento.
  <ol>
    <li>Haga clic en el botón Cerrar sesión, ubicado en el lado derecho de la barra de navegación superior.</li>
  </ol>
  <h2 id="manual-2">2. Módulo Usuarios</h2>
  <h3 id="manual-2-1">2.1. Crear usuario</h3>
  <ol>
    <li>Ingrese al módulo de usuarios.</li>
    <li>Haga clic en el botón Nuevo Usuario.</li>
    <li>Ingrese todos los campos del nuevo usuario a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-2-2">2.2. Modificar usuario</h3>
  <ol>
    <li>Ingrese al módulo de usuarios.</li>
    <li>Haga clic en el lápiz del usuario cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del usuario, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-2-3">2.3. Listar usuarios</h3>
  <ol>
    <li>Ingrese al módulo de usuarios.</li>
  </ol>
  <h3 id="manual-2-4">2.4. Eliminar usuario</h3>
  <ol>
    <li>Ingrese al módulo de usuarios.</li>
    <li>Haga clic en el bote de basura del usuario que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-3">3. Módulo Clientes</h2>
  <h3 id="manual-3-1">3.1. Crear cliente</h3>
  <div class="alert alert-danger" role="alert">
    ¡Atención! Antes de crear un cliente, debe existir una cuenta de usuario creada previamente.
  </div>
  <ol>
    <li>Ingrese al módulo de clientes.</li>
    <li>Haga clic en el botón Nuevo Cliente.</li>
    <li>Ingrese todos los campos del nuevo cliente a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-3-2">3.2. Modificar cliente</h3>
  <ol>
    <li>Ingrese al módulo de clientes.</li>
    <li>Haga clic en el lápiz del cliente cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del cliente, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-3-3">3.3. Listar clientes</h3>
  <ol>
    <li>Ingrese al módulo de clientes.</li>
  </ol>
  <h3 id="manual-3-4">3.4. Eliminar cliente</h3>
  <ol>
    <li>Ingrese al módulo de clientes.</li>
    <li>Haga clic en el bote de basura del cliente que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-4">4. Módulo Proveedores</h2>
  <h3 id="manual-4-1">4.1. Crear proveedor</h3>
  <div class="alert alert-danger" role="alert">
    ¡Atención! Antes de crear un proveedor, debe existir una cuenta de usuario creada previamente.
  </div>
  <ol>
    <li>Ingrese al módulo de proveedores.</li>
    <li>Haga clic en el botón Nuevo Proveedor.</li>
    <li>Ingrese todos los campos del nuevo proveedor a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-4-2">4.2. Modificar proveedor</h3>
  <ol>
    <li>Ingrese al módulo de proveedores.</li>
    <li>Haga clic en el lápiz del proveedor cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del proveedor, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-4-3">4.3. Listar proveedores</h3>
  <ol>
    <li>Ingrese al módulo de proveedores.</li>
  </ol>
  <h3 id="manual-4-4">4.4. Eliminar proveedor</h3>
  <ol>
    <li>Ingrese al módulo de proveedores.</li>
    <li>Haga clic en el bote de basura del proveedor que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-5">5. Módulo Comedor</h2>
  <h3 id="manual-5-1">5.1. Crear plato</h3>
  <ol>
    <li>Ingrese al módulo de comedor.</li>
    <li>Haga clic en el botón Nuevo Plato.</li>
    <li>Ingrese todos los campos del nuevo plato a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-5-2">5.2. Modificar plato</h3>
  <ol>
    <li>Ingrese al módulo de comedor.</li>
    <li>Haga clic en el lápiz del plato cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del plato, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-5-3">5.3. Listar platos</h3>
  <ol>
    <li>Ingrese al módulo de comedor.</li>
  </ol>
  <h3 id="manual-5-4">5.4. Eliminar plato</h3>
  <ol>
    <li>Ingrese al módulo de comedor.</li>
    <li>Haga clic en el bote de basura del plato que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-6">6. Módulo Órdenes de compra</h2>
  <h3 id="manual-6-1">6.1. Crear orden de compra</h3>
  <ol>
    <li>Ingrese al módulo de orden de compra.</li>
    <li>Haga clic en el botón Nueva Orden de compra.</li>
    <li>Ingrese todos los campos de la nueva orden de compra a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-6-2">6.2. Modificar orden de compra</h3>
  <ol>
    <li>Ingrese al módulo de orden de compra.</li>
    <li>Haga clic en el lápiz de la orden de compra cuyos datos desee modificar.</li>
    <li>Modifique todos los campos de la orden de compra, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-6-3">6.3. Listar órdenes de compra</h3>
  <ol>
    <li>Ingrese al módulo de orden de compra.</li>
  </ol>
  <h3 id="manual-6-4">6.4. Eliminar orden de compra</h3>
  <ol>
    <li>Ingrese al módulo de orden de compra.</li>
    <li>Haga clic en el bote de basura de la orden de compra que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-7">7. Módulo Empleados</h2>
  <h3 id="manual-7-1">7.1. Crear empleado</h3>
  <div class="alert alert-danger" role="alert">
    ¡Atención! Antes de crear un empleado, debe existir una cuenta de usuario creada previamente.
  </div>
  <ol>
    <li>Ingrese al módulo de empleados.</li>
    <li>Haga clic en el botón Nuevo Empleado.</li>
    <li>Ingrese todos los campos del nuevo empleado a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-7-2">7.2. Modificar empleado</h3>
  <ol>
    <li>Ingrese al módulo de empleados.</li>
    <li>Haga clic en el lápiz del empleado cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del empleado, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-7-3">7.3. Listar empleados</h3>
  <ol>
    <li>Ingrese al módulo de empleados.</li>
  </ol>
  <h3 id="manual-7-4">7.4. Eliminar empleado</h3>
  <ol>
    <li>Ingrese al módulo de empleados.</li>
    <li>Haga clic en el bote de basura del empleado que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-8">8. Módulo Órdenes de pedido</h2>
  <h3 id="manual-8-1">8.1. Crear orden de pedido</h3>
  <ol>
    <li>Ingrese al módulo de orden de pedido.</li>
    <li>Haga clic en el botón Nueva Orden de pedido.</li>
    <li>Ingrese todos los campos de la nueva orden de pedido a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-8-2">8.2. Modificar orden de pedido</h3>
  <ol>
    <li>Ingrese al módulo de orden de pedido.</li>
    <li>Haga clic en el lápiz de la orden de pedido cuyos datos desee modificar.</li>
    <li>Modifique todos los campos de la orden de pedido, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-8-3">8.3. Listar órdenes de pedido</h3>
  <ol>
    <li>Ingrese al módulo de orden de pedido.</li>
  </ol>
  <h3 id="manual-8-4">8.4. Eliminar orden de pedido</h3>
  <ol>
    <li>Ingrese al módulo de orden de pedido.</li>
    <li>Haga clic en el bote de basura de la orden de pedido que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-9">9. Módulo Productos</h2>
  <h3 id="manual-9-1">9.1. Crear producto</h3>
  <div class="alert alert-danger" role="alert">
    ¡Atención! Antes de crear un producto, debe existir una orden de pedido creada previamente.
  </div>
  <ol>
    <li>Ingrese al módulo de productos.</li>
    <li>Haga clic en el botón Nuevo Producto.</li>
    <li>Ingrese todos los campos del nuevo producto a crear, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-9-2">9.2. Modificar producto</h3>
  <ol>
    <li>Ingrese al módulo de productos.</li>
    <li>Haga clic en el lápiz del producto cuyos datos desee modificar.</li>
    <li>Modifique todos los campos del producto, cumpliendo el formato solicitado.</li>
    <li>Haga clic en el botón Ingresar.</li>
  </ol>
  <h3 id="manual-9-3">9.3. Listar productos</h3>
  <ol>
    <li>Ingrese al módulo de productos.</li>
  </ol>
  <h3 id="manual-9-4">9.4. Eliminar producto</h3>
  <ol>
    <li>Ingrese al módulo de productos.</li>
    <li>Haga clic en el bote de basura del producto que desee eliminar.</li>
    <li>Haga clic en el botón Confirmar.</li>
  </ol>
  <h2 id="manual-10">10. Módulo Reportes</h2>
</div>


{% endblock %}
