{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Habitaciones</h1>
<div class="row">
  <div class="col-sm-8">
<a href="{% url "habitacion_create" %}">
<button type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i> Nueva habitación</button>
</a>
    <a href="{% url "manual_ayuda" %}#manual-2">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-question-circle"></i> ¿Qué es esto?</button>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11">
    <table class="table">
      <thead class="thead-dark">
<tr>
<th scope="col">Id habitacion</th>
<th scope="col">Tipo cama</th>
<th scope="col">Accesorios</th>
<th scope="col">Precio</th>
<th scope="col">Estado</th>
<th scope="col">Acciones</th>
</tr>
</thead>
<tbody>
{% for habitacion in object_list %}
<tr>
<td>{{ habitacion.id_habitacion }}</td>
<td>{{ habitacion.tipo_cama }}</td>
<td>{{ habitacion.accesorios }}</td>
<td>{{ habitacion.precio }}</td>
<td>{{ habitacion.id_estado.descripcion }}</td>
<td>
<a  href="{% url "habitacion_update"  habitacion.id_habitacion  %}" data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-alt fa-lg"></i></a>
<a  href="{% url "habitacion_delete"  habitacion.id_habitacion  %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-alt fa-lg"></i></a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
  </div>
</div>
{% endblock %}