{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Huespedes</h1>
<div class="row">
  <div class="col-sm-8">
<a href="{% url "huesped_create" %}">
<button type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i> Nuevo huésped</button>
</a>
    <a href="{% url "manual_ayuda" %}#manual-2">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-question-circle"></i> ¿Qué es esto?</button>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11">
    <table class="table">
      <thead class="thead-dark">
<tr>
<th scope="col">Run</th>
<th scope="col">Nombres</th>
<th scope="col">Apellidos</th>
<th scope="col">Genero</th>
<th scope="col">Telefono movil</th>
<th scope="col">Acciones</th>
</tr>
</thead>
<tbody>
{% for huesped in object_list %}
<tr>
<td>{{ huesped.run_huesped }}</td>
<td>{{ huesped.nombres }}</td>
<td>{{ huesped.apellidos }}</td>
<td>{{ huesped.genero }}</td>
<td>{{ huesped.telefono_movil }}</td>
<td>
<a  href="{% url "huesped_update"  huesped.run_huesped  %}" data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-pencil-alt fa-lg"></i></a>
<a  href="{% url "huesped_delete"  huesped.rut_huesped  %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-alt fa-lg"></i></a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
  </div>
</div>
{% endblock %}